#root {
  max-width: auto;
  height: 100vh;  
}

.loader {
  width: 100px;
  display: grid;
  background: radial-gradient(farthest-side, #fff 98%, #0000) center/30px 100%
    no-repeat;
  --mask: 
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at center, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l2 1s infinite alternate;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}
.loader:after {
  margin-left: auto;
}
@keyframes l2 {
  to {
    width: 50px;
  }
}

.landing-page{
  background-image: url('./assets/27263.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profpic {
  width: 300px;
  height: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.profpic:hover{
  filter: drop-shadow(0 0 1.2em #61dafbaa);
  cursor: pointer;
  transform: scale(1.2);

}

.shadow-blue{
  filter: drop-shadow(0 .125rem .25rem #61dafbaa);
}

.front{
  max-width: 100vw;
}
.iconEmoji{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.carousel-container {
  width: 30%;
  overflow: hidden;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-track {
  display: flex;
  gap: 20px;
  animation: slide 10s linear infinite;
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.rubik-dirt-text-sub {
  font-family: "Rubik Dirt", cursive;
  color: #2F3E46;
  overflow: hidden;
  background-color: transparent;
  font-size: 2rem;
}

.rubik-dirt-text {
  font-family: "Rubik Dirt", cursive;
  text-align: start;
  color: whitesmoke;
  overflow: hidden;
  background-color: transparent;
}


/* Simulates random movement in all directions */



.info{
  animation:slide-in 3s linear;
}


.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: transparent;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: transparent;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}


footer {
  position: relative;
  text-align: center;
  bottom: 0;
  
}

@keyframes slide-in {
  from {
    translate: 0 150vh;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.form-div{
  color: white;
  position: fixed;
  top: 40%;
  width: 600px;
  z-index: 88888;
  
}

.profile-butt{
  animation: linear 3s horizontal-slide-in;
}

@keyframes horizontal-slide-in {
  from{
    translate: 150vw 0;
    scale: 1 200%;
  }
  to{
    translate: 0 0;
    scale: 1 100%;
  }
  
}

.links{
  width: 2rem;
  height: 2rem;
}

.links:hover{
  transform: scale(1.2) translate(20%,0);
}

.icon-skills{
    width: 3rem;
    height: 3rem;
  }


.sent-successful{
    width: 150px;
    height: 150px;
    z-index: 99999;
  }

.sidepanel{
  max-width: 300px;
  max-height: 100vh;
  height: 100%;
  width: 4rem;
  z-index: 2;
  overflow: hidden;
  transition:
    width 0.3s ease-in-out;
}


.sidepanel.show{
  width: 100%;
  opacity: 1;
}

.small-prof{
  width: 30px;
  height: 30px;
}

.side-bar-button{
  width: 200px;
}


.no-arrow .accordion-button::after {
  display: none !important;
}

.bg-lightblue{
  background-color: #daf0ff;
}

.interests-icon{
  max-width: 150px;
  max-height: 150px;
}

.glass {
  background: rgba(255, 255, 255, 0.2);      /* semi-transparent */
  border: 1px solid rgba(255, 255, 255, 0.3); /* optional border */
  border-radius: 12px;
  
  /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari/iOS support */
  backdrop-filter: blur(10px);         /* other modern browsers */
}

.proj:hover{
  transform: scale(1.1,1.1);
  transition: 0.6s ease;
}

@media screen and (max-width: 480px) {

  .portfolio-title{
    font-size: 2.5rem;
  }
  .logo,
  .prof{
    width: 10rem;
    height: 10rem;
  }
  .landing-page > .cont {
    margin-top: 0;
    padding-top: 0;
  }
  
  .form-div{
    width: 350px;
    z-index: 8000;
  }

  .sent-successful{
    width: 200px;
    height: 150px;
    z-index: 99999;
  }
  .icon-skills{
    width: 1.5rem;
    height: 1.5rem;
  }

  .side-bar-button{
  width: 200px;
  }
  .sidepanel{
  max-width: 400px;
  width: 0;
  height: 100vh;
  transition:
  width 0.3s ease-in-out;
}
.sidepanel.show{
  width: 100%;
}

.interests-icon{
  max-width: 90px;
  max-height: 90px;
}
}
